{% extends "peaks/layout.html" %}

{% block title %}
{{ title }} |
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% for peak in page_obj %}
    <div class="card mb-2">
        <div class="card-header">
            <a href="{% url 'peak' peak.id %}">{{ peak.name }}</a> ({{ peak.ele }} m)
        </div>
        <div class="card-body">
            <div>{{ peak.slug }}</div>
            <div>{{ peak.region.name }}</div>
            <div>{% for country in peak.countries.all %} {{ country.name }}, {% endfor %}</div>
            

        </div>

    </div>
    {% endfor %}

{% endblock %}