{% extends "peaks/layout.html" %}

{% block title %}
{{ title }} |
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    {% for peak in page_obj %}
    <div class="card mb-2">
        <div class="card-header">
            <a href="{% url 'peak' peak.slug %}">{{ peak.name }}</a> ({{ peak.ele }} m)
        </div>
        <div class="card-body">
            <div><a href="{% url 'region' peak.region.slug %}">{{ peak.region.name }}</a></div>
            <div>{% for country in peak.countries.all %} <a href="{% url 'region' country.slug %}">{{ country.name }}</a>, {% endfor %}</div>
            

        </div>

    </div>
    {% endfor %}

{% endblock %}