{% extends "peaks/layout.html" %}

{% block title %}
{{ peak.name }} |
{% endblock %}

{% block body %}
<h1>{{ peak.name }}</h1>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div class="card mb-3">
            <div class="card-body">

                <div>
                    Slug {{ peak.slug }}
                </div>
                <div>
                {% if peak.alias or peak.alt_name %}Alias: {{ peak.alias }} {{ peak.alt_name }}{% endif %}
                {% if peak.name_en %}EN: {{ peak.name_en }}{% endif %}
                {% if peak.name_de %}DE: {{ peak.name_de }}{% endif %}
                {% if peak.name_de_DE %}DE: {{ peak.name_de_DE }}{% endif %}
                {% if peak.name_de_AT %}AT: {{ peak.name_de_AT }}{% endif %}
                {% if peak.name_ch %}CH: {{ peak.name_ch }}{% endif %}
                {% if peak.name_fr %}FR: {{ peak.name_fr }}{% endif %}
                {% if peak.name_it %}IT: {{ peak.name_it }}{% endif %}
                {% if peak.name_sl %}SL: {{ peak.name_sl }}{% endif %}
                
                                </div>
                <div>
                    {% if peak.region %}Region: {{ peak.region }}{% endif %}
                </div>
                <div>
                    Coordiates: {{ peak.lat }} | {{ peak.lon }}
                </div>
                <div>
                    Ngt
                    {% if peak.neargt %}{{ peak.neargt.name }}{% endif %}
                    {% if peak.neargtdelta %}{{ peak.neargtdelta }}{% endif %}
                    {% if peak.neargtdist %}{{ peak.neargtdist }}{% endif %}
                </div>
                


                

            </div>

        </div>
    </div>
</div>


{% endblock %}