{% extends "peaks/layout.html" %}

{% block title %}
{{ peak.name }} |
{% endblock %}

{% block body %}
<h1>{{ peak.name }} {% if peak.alias  %} / {{ peak.alias }} {% endif %} {% if peak.alt_name  %} / {{ peak.alt_name }}{% endif %} </h1>
<h5>{{ peak.ele }} m</h5>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">

        

                {% if peak.name_en %}<div>EN: {{ peak.name_en }}</div>{% endif %}
                {% if peak.name_de %}<div>DE: {{ peak.name_de }}</div>{% endif %}
                {% if peak.name_de_DE %}<div>DE: {{ peak.name_de_DE }}</div>{% endif %}
                {% if peak.name_de_AT %}<div>AT: {{ peak.name_de_AT }}</div>{% endif %}
                {% if peak.name_ch %}<div>CH: {{ peak.name_ch }}</div>{% endif %}
                {% if peak.name_fr %}<div>FR: {{ peak.name_fr }}</div>{% endif %}
                {% if peak.name_it %}<div>IT: {{ peak.name_it }}</div>{% endif %}
                {% if peak.name_sl %}<div>SL: {{ peak.name_sl }}</div>{% endif %}



        <div class="card mb-3">
            <div class="card-body">

                <div>
                    {% for country in peak.countries.all %} <a href="{% url 'region' country.slug %}">{{ country.name }}</a>, {% endfor %}
                </div>
                <div>
                    {% if peak.region %}Region: <a href="{% url 'region' peak.region.slug %}">{{ peak.region.name }}</a>{% endif %}
                </div>
                <div>
                    Coordiates: {{ peak.lat }} | {{ peak.lon }}
                </div>
                <div>
                    Ngt
                    {% if peak.neargt %}{{ peak.neargt.name }}{% endif %}
                    {% if peak.neargtdelta %}{{ peak.neargtdelta }}{% endif %}
                    {% if peak.neargtdist %}{{ peak.neargtdist }}{% endif %}
                </div>

            </div>

        </div>
    </div>
</div>


{% endblock %}