{% extends "peaks/layout.html" %}

{% block title %}
{{ peak.name }} |
{% endblock %}

{% block body %}
<h1>{{ peak.name }} {% if peak.alias  %} / {{ peak.alias }} {% endif %} {% if peak.alt_name  %} / {{ peak.alt_name }}{% endif %} </h1>


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">


        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Details
            </div>
            <div class="list-group-item">
                <strong>{{ peak.ele|floatformat:0 }} m</strong>
            </div>

            {% if peak.name_en or peak.name_de or peak.name_de_DE or peak.name_de_AT or peak.name_ch or peak.name_fr or peak.name_it or peak.name_sl %}
            <div class="list-group-item">
                {% if peak.name_en %}<div>EN: {{ peak.name_en }}</div>{% endif %}
                {% if peak.name_de %}<div>DE: {{ peak.name_de }}</div>{% endif %}
                {% if peak.name_de_DE %}<div>DE: {{ peak.name_de_DE }}</div>{% endif %}
                {% if peak.name_de_AT %}<div>AT: {{ peak.name_de_AT }}</div>{% endif %}
                {% if peak.name_ch %}<div>CH: {{ peak.name_ch }}</div>{% endif %}
                {% if peak.name_fr %}<div>FR: {{ peak.name_fr }}</div>{% endif %}
                {% if peak.name_it %}<div>IT: {{ peak.name_it }}</div>{% endif %}
                {% if peak.name_sl %}<div>SL: {{ peak.name_sl }}</div>{% endif %}
            </div>
            {% endif %}


            {% if peak.region %}
            <div class="list-group-item">
                <a href="{% url 'region' peak.region.slug %}">{{ peak.region.name }}</a>
            </div>
            {% endif %}
            <div class="list-group-item">
                {% for country in peak.countries.all %} <a href="{% url 'region' country.slug %}">{{ country.name }}</a>, {% endfor %}
            </div>
            <div class="list-group-item">
                Coordiates: {{ peak.lat }} | {{ peak.lon }}
            </div>
        </div>

        <!-- Mont Blanc has neargt Mont Blanc -->
        {% if peak.neargt.id != peak.id %}  
        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Nearest higher peak 
            </div>
            <div class="list-group-item">
                <a href="{% url 'peak' peak.neargt.slug %}">{{ peak.neargt.name }}</a> ({{ peak.neargt.ele }} m)
                <div class="text-muted mt-2">
                    <small>Distance {{ peak.neargtdist|floatformat:2 }} km, Δ<i>h</i> {{ peak.neargtdelta }} m</small>
                </div>
            </div>
        </div>
        {% endif %}
        

        {% if peak.nearestlower.first %}
        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Related lower peaks 
            </div>
            {% for lowpeak in peak.nearestlower.all %}
            {% if lowpeak.id != peak.id %}
            <div class="list-group-item">
                <a href="{% url 'peak' lowpeak.slug %}">{{ lowpeak.name }}</a> ({{ lowpeak.ele }} m)
                <div class="text-muted mt-2">
                    <small>Distance {{ lowpeak.neargtdist|floatformat:2 }} km, Δ<i>h</i> {{ lowpeak.neargtdelta }} m</small>
                </div>
            </div>
            {% endif %}
            {% endfor %}

        </div>
        {% endif %}

        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Tours 
                {% if user.is_authenticated %}
                <input type="button" class="flright btn btn-sm btn-primary" value="New" onclick="location.href='/edit/?new={{ peak.id }}'"/>
                {% endif %}
            </div>
            {% for tour in peak.tours.all %}

            <div class="list-group-item">
                {% if user == tour.user %} 
                <input type="button" class="flright btn btn-sm btn-outline-primary" value="Edit" onclick="location.href='{% url 'edittour' tour.id %}'"/>
                {% endif %}
                <div class="h6">
                    <a href="{% url 'showtour' tour.id %}">{{ tour.heading }}</a> ({{ tour.date }})
                </div>
                <div class="text-muted mt-2">
                    Posted by <a href="{% url 'profile' tour.user %}">{{ tour.user }}</a>  on {{ tour.timestamp }}
                </div>
            </div>

            {% endfor %}

        </div>


    </div>

    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="map" data-lat="{{ peak.lat }}" data-lon="{{ peak.lon }}" data-region="{{ peak.region.slug }}" data-mode="peak" data-tour="">
        </div>

        <div id="wiki" data-title="{{ peak.name }}" class="list-group mb-2 mt-2">
            <div id="wikilink" class="list-group-item list-group-item-dark"></div>
            <div class="list-group-item text-center" id="wikiimgcontainer">
                <div id="wikiimg"></div>
                <div id="wikiimgcred"></div>
            </div>
            <div id="wikiextract" class="list-group-item"></div>
        </div>
    </div>
</div>


{% endblock %}