{% extends "peaks/layout.html" %}

{% block title %}
{{ title }} |
{% endblock %}

{% block body %}
    <h1>{{ title }}</h1>

    <div>Tours count: {{ counttours }}</div>
    {% if hightest %}
    <div>Highest peak: {{ highest.name }} ({{ highest.ele|floatformat:0 }} m)</div>
    {% endif %}
    {% if username %}
    <div>User {{ username }} liked {{ gavelikes }} tours and recieved {{ gotlikes }} likes.</div>
    {% endif %}
 
    <div class="list-group mb-2 mt-2">
        <div class="list-group-item list-group-item-dark">
            Tours 
        </div>
        {% for tour in page_obj %}

        <div class="list-group-item">
            {% if user == tour.user %} 
            <input type="button" class="flright btn btn-sm btn-outline-primary" value="Edit" onclick="location.href='{% url 'edittour' tour.id %}'"/>
            {% endif %}
            <div class="h5"><a href="{% url 'showtour' tour.id %}">{{ tour.heading }}</a> ({{ tour.peak.name }})</div>
            <div class="mb-1">
                {% for tag in tour.tags.all %}
                <a href="{% url 'tag' tag.slug %}" class="badge text-decoration-none bg-secondary">{{ tag }}</a>
                {% endfor %}
            </div>
            <div>On {{ tour.date }}{% if tour.grade %}, <span data-toggle="tooltip" title="{{ tour.grade.description }}" class="grade">{{ tour.grade.name }}</span>{% endif %}</div>
            <div class="mt-1">
                <small>
                    Tour on <a href="{% url 'peak' tour.peak.slug %}">{{ tour.peak.name }}</a> ({{ tour.peak.ele }} m) in <a href="{% url 'region' tour.peak.region.slug %}">{{ tour.peak.region.name }}</a>
                </small>
            </div> 
            <div class="text-muted mt-2">
                <span class="text-muted likes" data-id="{{ tour.id }}">
                    <!-- White heart if not liked yet by user, else red heart -->
                    <span class="count">{{ tour.likedby.count }}</span>
                    <span class="heart">{% if user in tour.likedby.all %}❤️{% else %}🤍{% endif %}</span>
                </span>
                <small>
                Posted by {{ tour.user }}  on {{ tour.timestamp }}
                </small>
            </div>
        </div>
        {% empty %}
        <div class="list-group-item">No tours ...</div>
        {% endfor %}

    </div>

    {% if page_obj.paginator.num_pages > 1 %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
          {% if page_obj.has_previous %}  
          <li class="page-item"><a class="page-link" href="?page=1">&laquo; First</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
          {% endif %}
          <li class="page-item active" aria-current="page">
            <span class="page-link">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
            </span>
          </li>
          {% if page_obj.has_next %}
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a></li>
          <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a></li>
          {% endif %}
        </ul>
    </nav>
    {% endif %}

    {% if user.is_authenticated %}
    <script>
        const CSRF_TOKEN = '{{ csrf_token }}';
    </script>
    {% endif %}
    
{% endblock %}