{% extends "peaks/layout.html" %}

{% block title %}
{{ tour.heading }} |
{% endblock %}

{% block body %}
<h1>{{ tour.heading }}</h1>


<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">


        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Tour on <a href="{% url 'peak' tour.peak.slug %}">{{ tour.peak.name }} </a>({{ tour.peak.ele|floatformat:0 }} m)
            </div>
            <div class="list-group-item">
                Date: {{ tour.date }}
            </div>
            <div class="list-group-item">
                {{ tour.text }}
            </div>
            <div class="list-group-item text-muted">
                Posted by {{ tour.user }} on {{ tour.timestamp }}
            </div>
        </div>

        <div class="list-group mb-2">
            <div class="list-group-item list-group-item-dark">
                Waypoints
            </div>
            {% for wp in tour.waypoints.all %}
            <div class="list-group-item">
                Nr. {{ wp.number }} {% if wp.name %}| {{ wp.name }}{% endif %}
                <div class="text-muted"><small>{{ wp.lat|floatformat:5 }}, {{ wp.lon|floatformat:5 }}</small></div>
            </div>
            {% empty %}
            <div class="list-group-item">
                No waypoints.
            </div>
            {% endfor %}

        </div>

        {% if user == tour.user  %}
        <div>
            <input type="button" class="btn btn-primary" value="Edit" onclick="location.href='{% url 'edittour' tour.id %}'"/>
        </div>
        {% endif %}

    </div>


    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="map" data-lat="{{ tour.peak.lat }}" data-lon="{{ tour.peak.lon }}" data-region="{{ tour.peak.region.slug }}" data-mode="peak">
        </div>

    </div>
</div>


{% endblock %}