{% extends "peaks/layout.html" %}

{% block title %}
{{ title }} |
{% endblock %}

{% block body %}
<h1>{{ title }}</h1>

<div class="row">
    <div class="col-sm-12 col-md-6 col-lg-6">

        <!-- Form Errors -->
        {% if form.errors %}
            <ul class="errors">
                {% for error in form.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            </ul>
        {% endif %}

        {% if tourid %}
        <form action="{% url 'edittour' tourid %}" method="post"> 
        {% else %}
        <form action="{% url 'newtour' %}" method="post"> 
        {% endif %}
        
            {% csrf_token %}
            {{ wpformset.management_form }}
            {{ tourform.as_div }}

                <label>Waypoints:</label>

                {% for waypoint in wpformset %}
                {{ waypoint.non_field_errors }}
                {{ waypoint.errors }}
                {% endfor %}
                <table>
                    <thead>
                        <tr>
                            <td>Nr.</td>
                            <td>Name</td>
                            <td>Lat, Lon</td>
                        </tr>
                    </thead>
                    <tbody>            
                {% for waypoint in wpformset %}
                        <tr class="wp">
                            <td class="wpnumber">1</td>
                            <td>{{ waypoint.name }}{{ waypoint.lat }}{{ waypoint.lon }}{{ waypoint.number }}</td>
                            <td class="latlon">Click on map</td>
                         </tr>
                {% endfor %}
                    </tbody>
                </table>

                              
            <input type="submit" value="Submit" class="btn btn-primary mt-3 mb-3">
            <input type="button" class="btn btn-outline-secondary mt-3 mb-3" value="Cancel" onclick="location.href='{% url 'peak' peak.slug %}'"/>
        </form>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6">
        <div id="map" data-lat="{{ peak.lat }}" data-lon="{{ peak.lon }}" data-region="{{ peak.region.slug }}" data-mode="edittour" data-tour="{% if tourid %}{{ tourid }}{% endif %}">
        </div>
    </div>
</div>

{% endblock %}