{% extends "peaks/layout.html" %}

{% block title %}
Latest tours |
{% endblock %}

{% block body %}
<h1>Latest tours</h1>

        <div class="list-group mb-2">
            {% for tour in tours.all %}
            <div class="list-group-item">
                {% if user == tour.user %} 
                <input type="button" class="flright btn btn-sm btn-outline-primary" value="Edit" onclick="location.href='{% url 'edittour' tour.id %}'"/>
                {% endif %}
                <div><a href="{% url 'showtour' tour.id %}">{{ tour.heading }}</a> </div>
                <div class="mb-1">
                    {% for tag in tour.tags.all %}
                    <a href="{% url 'tag' tag.slug %}" class="badge text-decoration-none bg-secondary">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div>On {{ tour.date }}{% if tour.grade %}, <span data-toggle="tooltip" title="{{ tour.grade.description }}" class="grade">{{ tour.grade.name }}</span>{% endif %}</div>
                <div>{{ tour.peak.name }} ({{ tour.peak.ele }} m) </div> 
                <div class="text-muted mt-2">
                    <span class="text-muted likes" data-id="{{ tour.id }}">
                        <!-- White heart if not liked yet by user, else red heart -->
                        <span class="count">{{ tour.likedby.count }}</span>
                        <span class="heart">{% if user in tour.likedby.all %}❤️{% else %}🤍{% endif %}</span>
                    </span>
                    Posted by {{ tour.user }}  on {{ tour.timestamp }}
                </div>
            </div>
            {% endfor %}
        </div>

        {% if user.is_authenticated %}
        <script>
            const CSRF_TOKEN = '{{ csrf_token }}';
        </script>
        {% endif %}
        
{% endblock %}